h1 {
    text-align: center;
    color: #4D413D;
	}
body {
     background-color: #70665C;
	 } 

div.gallery {
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  margin: 15px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;	
}
