h1 {
    text-align: center;
    color: #4D413D;
	}
body {
     background-color: #70665C;
	 } 

div.gallery {
  margin: 15px;
  float: left;
  width: 260px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

hr {
	height: 12px;
	background-image: linear-gradient(-45deg,
	transparent,
	transparent 25%,
	current Color 25%,
	current Color 50%,
	transparent 50%,
	transparent 75%,
	current Color (75%);
	background-size: 10px;
	width: 800px;
}

.line1 {
	color: #CC9966;
	position: relative;
	top: 500px;
	}
